@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OpenSans', sans-serif;
  background-color: #424242;
}

.tooltip {
  width: 375px;
  min-height: 160px;
  padding: 20px 29px;
  padding-right: 78px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 0;
}

.content {
  width: 268px;
  min-height: 120px;
}

.marker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  vertical-align: middle;
  background-image: url(../img/marker_default.svg);
  cursor: pointer;
  transition: background-image .3s ease-in-out;
  z-index: 100;
}

.marker:hover,
.marker:focus {
  background-image: url(../img/marker_active.svg);
  outline: none;
}

.popup__conteiner {
  position: relative;
  bottom: 42px;
  left: -73px;
  display: flex;
  width: 163px;
  min-height: 58px;
  flex-direction: column;
  align-items: center;
}

.popup {
  position: absolute;
  bottom: 20.72px;
  max-width: 163px;
  min-height: 37.28px;
  background-image: url(../img/tooltip.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.marker:hover .popup,
.marker:focus .popup {
  opacity: 1;
}

.popup__content {
  min-width: 15px;
  min-height: 31px;
  margin-bottom: 6.28px;
  padding: 0 15px;
  padding-top: 7px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #666;
  box-sizing: border-box;
}

.popup__fix {
  position: absolute;
  top: 42px;
  width: 16px;
  height: 16px;
}
